* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif,'Times New Roman', Times;
}

/* - Hero Section 1 start - */

.first_container {
    height: 500px;
    background: #1F2937; 
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 80px;
  
}

.hero_container {  
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    margin-left: 30px;
    display: flex;
    flex-shrink: 0;
}

.navigation {
    margin-right: 30px;
}

.header2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero_main_text{
    width: 450px;
   
    
}

.hero_para {
    font-size: 18px;
    color: #E5E7EB;
  
}

button {
    border: transparent;
    cursor: pointer;
}

.signup_button {
    background: #3882F6;
    color: #E5E7EB;
    padding: 10px 40px;
    border-radius:10px;
    margin-top: 10px;
    font-size: 20px;  
}

.image_placeholder {
  height:250px ;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
  background-color:rgb(66, 64, 64);
  margin-left: -100px;  
}


ul {
    display: flex;
    list-style: none;
    gap: 16px; 
        
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;   
}


/* -- Hero Section 1 End -- */


/* - Image gallarey section 2 start - */
.randinfo {
    font-size: 36px;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

img {
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 20px;
    padding: 20px;
    
}

.second_container {
    display: flex;
    justify-content: flex-start;
    height: 350px;
    flex-direction: column;
    align-items: center; 
}

.small_gallery {
    display: flex;
    text-align: center; 
    max-width: 900px;
    gap: 16px;          
}

/* -- Image gallery section end -- */


/* - Quote Section 3 - */


.quote_container {
    height: 500px;
    margin-top: 50px;
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 900px;
    font-weight: normal;
}

.style_quote {
    font-family: 'Courier New', Courier, monospace;
}

.ref {
    display: flex;
    justify-content: flex-end;
}

/* --  Quote Section 3 End -- */

/* - Call to Action Start - */

.action_container {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
}

.actioncontainer {
    display: flex;
    background: #3882F6;
    width: 900px;
    height: 150px;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;  
}

.type {
    color: #E5E7EB;
    margin-bottom: 10px;
}

.type.one {
    font-weight: 900;
    font-size: 25px;
}

.btnaction {
    background: inherit;
    color: #E5E7EB;
    padding: 10px 40px;
    border: 3px solid #E5E7EB;
    border-radius: 20px;
}

/* -- Call to Action Ends here -- */

/* Final Section Footer */

.foot {
    background: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}